<mat-drawer-container class="example-container" autosize>
    <mat-toolbar color="primary" aria-label="Top Toolbar">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="drawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span><a routerLink="/home" mat-button routerLinkActive="item-selected" class="buttonHome">Home</a></span>
      <span class="example-spacer"></span>
      <button mat-button [matMenuTriggerFor]="menu" *ngIf="isUser">{{ userlogg }}</button>
      <button mat-button *ngIf="!isUser" routerLink="/login">Sign in</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">log out</button>
      </mat-menu>
    </mat-toolbar>
    <mat-drawer #drawer class="example-sidenav" mode="over">
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <div *ngFor="let forum of forums">
      <button 
        mat-raised-button
        (click)="goForum(forum)"
        class="butt">
        {{ forum.name }}
      </button>
      </div>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>
