<mat-drawer-container class="example-container" autosize *ngIf="!showToolbar">
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="drawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-button [matMenuTriggerFor]="menu">{{ userlogg }}</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>log out</button>
      </mat-menu>
    </mat-toolbar>
    <mat-drawer #drawer class="example-sidenav" mode="over">
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <div *ngFor="let forum of forums">
      <button 
        mat-raised-button
        (click)="goForum(forum)"
        class="butt">
        {{ forum.name }}
      </button>
      </div>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>

  <router-outlet *ngIf="showToolbar"></router-outlet>